*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(8, 8, 8); 
font: normal 15pt Arial; 
}

header{
    color: rgb(5, 5, 5);
    text-align: center;
    border: 3px white solid;
    background-color: orange;
}
div{
    text-align: center;
    color: white;
}

button{
    color: rgb(7, 7, 7);
}
footer{
    color: rgb(7, 7, 7);
    text-align: center; 
    font-style: italic; 
}

.MENU{
    margin: 0;
    position: absolute;
    top: 50%;   
    left: 50%;
    transform: translate(-50%, -50%);
}

